# java specific
*.class

# grammar stuff
*.tokens

# eclipse stuff
.metadata/
mrjp.latte.generator/bin/
mrjp.latte.generator/.settings/org.eclipse.jdt.core.prefs
mrjp.latte.generator/antlr-generated/

# output
jacaranda.jar
jacaranda_jar.xml

# tutorial
ANTLRTutorial/

# testing
latte_tests/my_tests/

# generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
