# java specific
*.class

# grammar stuff
*.tokens

# eclipse stuff
.metadata/
mrjp.latte.generator/bin/
mrjp.latte.generator/.settings/org.eclipse.jdt.core.prefs
mrjp.latte.generator/antlr-generated/

# output
Jacaranda.jar
jacaranda.jar
jacaranda_jar.xml

# tutorial & testing
ANTLRTutorial/
latte_tests/my_tests/
jasmintest/

# generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
